* {
  margin: 0px;
  padding: 0;
  font-family: "Mukta"; }

/*variables*/
.container {
  width: 200vh;
  display: flex;
  flex-direction: column; }

.header {
  width: 200vh;
  height: 140px;
  display: grid;
  background-color: gray;
  border: solid transparent;
  border-radius: 5px; }
  .header .h1-1 {
    font-size: 40px;
    margin-left: 10px; }
  .header .h3-1 {
    margin-left: 15px; }
  .header .nav__inicio {
    list-style: none;
    margin: 5px;
    font-size: 25px;
    text-align: end; }

.lista-1 {
  padding-left: 25px;
  display: grid;
  flex-direction: column; }

section {
  background: #cdcdcd;
  border-bottom: solid 1px black;
  margin: 0px 0px 0px 0px;
  display: grid;
  border-radius: 5px; }
  section .section-4 {
    margin: 0px 0px 0px 0px;
    width: 200vh;
    height: 140px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 5px; }
  section .lista-2 {
    padding-left: 25px;
    display: grid;
    flex-direction: column; }
  section .section-5 {
    width: 141vh;
    height: 950px;
    display: grid;
    text-align: center;
    border-radius: 5px; }
  section .tweet {
    display: grid;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center; }

.section-6 {
  display: flex;
  margin: 2px;
  background-color: white; }

.iframe {
  width: 200vh;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; }

h2, p, h3, i, h4 {
  margin: 5px; }

.contactos {
  list-style: none;
  display: grid;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  right: 0; }
