* {
    margin: 0px;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: rgb(71, 71, 71)
}

.container {
    width: 200vh;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-direction: column;
}

.header{
    background-image: url("/img/fondojpeg.png");
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
}

.h1-1, .h2-1, .h3-1{
    color: rgb(240, 248, 255);
}

/*imagen + descripcion sobre mi*/
.section-1 {
    width: 200vh;
    height: 600px;
    background-color: rgb(65, 64, 64);
    box-shadow: 0 12px 16px rgba(150, 150, 150, 0.3);
    color: aliceblue;
    display: flex;
    font-size: 20px;
    border-radius: 5px;
}

.img-sobremi {
    width: 240px;
    height: 200px;
    border-radius: 205px;
    display:block;
    margin:auto;
}

.description {
    display: grid;
    margin-left: 20px;
    align-items: center;
}

/*contactos*/
.contactos {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.home, .msj, .ig, .fb, .tw{
    color: aliceblue;
}